@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Poppins', sans-serif;
*/

*{box-sizing: border-box; font-family: 'Poppins', sans-serif;}
html, body{margin: 0; padding: 0;}
header, section, article, aside, main, nav ,footer{display: block;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.gv_font{font-family: 'Great Vibes', cursive;}
.js_font{font-family: 'Josefin Slab', serif;}

/*header part*/
header {
    position: sticky;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid #ddd;
}
header .top {
    width: 100%;
    background-color: #474747;
    height: 20px;
}
header .top .wrap {
    width: 1200px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .top .wrap .left {}
header .top .wrap .left > ul {
    display: flex;
}
header .top .wrap .left > ul > li {
    display: flex;
}
header .top .wrap .left > ul > li > a {
    font-size: 11px;
    color: #ffffff;
    display: block;
    line-height: 1;
    border-right: 1px solid #fff;
    padding: 0 10px;
    margin-top: 5px;
}
header .top .wrap .left > ul > li:last-child > a {
    border: none;
}

header .top .wrap .right {}
header .top .wrap .right > ul {
    display: flex;
}
header .top .wrap .right > ul > li {
    display: flex;
}
header .top .wrap .right > ul > li > a {
    font-size: 11px;
    color: #fff;
    display: block;
    line-height: 1;
    border-right: 1px solid #fff;
    padding: 0 10px;
    margin-top: 5px;
    transition: color 0.5s;
}
header .top .wrap .right > ul > li:hover > a {
    color: #777777;
}
header .top .wrap .right > ul > li:last-child > a {
    border: none;
}

/*header nav*/
header nav{    
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

header nav .wrap{
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
header nav .wrap ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header nav .wrap ul li{
    width: calc(100% / 6);
    line-height: 60px;
}

header nav .wrap ul li a{
    color: #777777;
}
header nav .wrap ul li:hover a{
    font-weight: bold;
}
header nav .wrap ul li a img{
    display: block;
    width: 180px;
    height: 30px;
}


/*slide part*/
.slide{
    width: 100%;
    height: 540px;
    margin-top: -60px;
    overflow: hidden;
    position: relative;
}
.slide ul{
    width: 300%;
    height: 100%;
    display: flex;
}
.slide ul li{
    width: calc(300% / 3);
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.slide ul li.slide_01{
    background-image: url(../img/h3-slide-1.jpg);
}
.slide ul li.slide_02{
    background-image: url(../img/h3-slide-2.jpg);
}
.slide ul li.slide_03{
    background-image: url(../img/h3-slide-3.jpg);
}


.slide .txt_part {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide .txt_part .wrap p {
    font-size: 30px;
}
.slide .txt_part .wrap h2 {
    font-size: 90px;
    font-weight: normal;
    padding-top: 20px;
} 

/*section#content*/
#concept {
    height: 660px;
    padding: 40px 0;
    background-image: url(../img/section_deco_left.png), url("../img/section_deco_right.png");
    background-repeat: no-repeat;
    background-position: 0 0%, 100% 100%;
    background-attachment: fixed;
    background-size: auto 250px;
}
#concept .wrap {
    width: 1200px;
    height: 100%; /*background: #dede;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#concept .wrap .left {
    width: calc(100% / 6 - 20px);
    height: 100%;
    margin: 0 10px;
    /* background: #fcf; */
    position: relative;
}

#concept .wrap .left h2 {
    font-size: 32px;
    color: #777777;
    padding-left: 12px;
    line-height: 0.8;
    border-left: 4px solid #777;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 26px;
}

#concept .wrap .right .in_wrap {
    width: 1000px;
    height: 600px;
}
#concept .wrap .right .in_wrap .box {
    height: calc(100% / 3);
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
    /* background-color: #adad; */
}
#concept .wrap .right .in_wrap .box .img {
    width: 120px;
    height: 180px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 80px;
}

#concept .wrap .right .in_wrap .box .txt_part {
    width: 980px;
    color: #777777;
    line-height: 20px;
    /* background-color: #000; */
}
#concept .wrap .right .in_wrap .box .txt_part p {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}
#concept .wrap .right .in_wrap .box .txt_part span{
    display: block;
    width: 80px;
    height: 1px;
    background-color: #ce967a;
    margin-bottom: 10px;
}
#concept .wrap .right .in_wrap .box .txt_part h2 {
    font-size: 16px;
    font-weight: normal;
}

#concept .wrap .right .in_wrap .box:nth-child(1) .img {
    background-image: url("../img/h3-icon-1.png");
}
#concept .wrap .right .in_wrap .box:nth-child(2) .img {
    background-image: url("../img/h3-icon-3.png");
}
#concept .wrap .right .in_wrap .box:nth-child(3) .img {
    background-image: url("../img/h3-icon-4.png");
}

/* middle_banner */
.middle_banner{
    width: 100%;
    height: 180px;
    background-image: url(../img/h3-bacground-img-5.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.middle_banner .txt_part{
    width: 420px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.middle_banner .txt_part h1{
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 20px;
}
.middle_banner .txt_part p{
    font-size: 16px;
}

/*section#gallery*/
#gallery {
    height: 580px;
    padding: 40px 0;
}
#gallery .wrap {
    width: 1200px;
    height: 100%; /*background: #dede;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#gallery .wrap .left {
    width: calc(100% / 6 - 20px);
    height: 240px;
    margin: 0 10px;
    /* background: #fcf; */
    position: relative;
}

#gallery .wrap .left h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #777777;
    padding-left: 12px;
    line-height: 0.8;
    border-left: 4px solid #777;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 26px;
}

#gallery .wrap .right{
    display: flex;
}

#gallery .wrap .right .box{
    width: calc(100% / 2 - 10px);   
    width: 380px;
    height: 240px;
    background-size: cover;
    background-position: 50% 50%;
    margin:0 10px 20px;
}

#gallery .wrap .bottom{
    display: flex;
}

#gallery .wrap .bottom .box{
    width: calc(100% / 3 - 10px);   
    width: 380px;
    height: 240px;
    background-color: #faf;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 10px;
}
/* #gallery .wrap .bottom .box:nth-child(1){
    background-image: url(../img/h3-bacground-img-4-1.jpg);
}
#gallery .wrap .bottom .box:nth-child(2){
    background-image: url(../img/h-img14.jpg);
}
#gallery .wrap .bottom .box:nth-child(3){
    background-image: url(../img/h-img16.jpg);
} */

/*section#review*/
#review {
    width: 100%;
    height: 550px;
    background-image: url(../img/h-img23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#review .dark{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}
#review .dark .wrap {
    width: 1200px;
    height: 100%; /*background: #dede;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#review .dark .wrap .left {
    width: calc(100% / 6 - 20px);
    height: 100%;
    margin: 0 10px;
    /* background: #fcf; */
    position: relative;
    padding: 40px 0;
}

#review .dark .wrap .left h2 {
    font-size: 32px;
    color: #fff;
    padding-left: 12px;
    line-height: 0.8;
    border-left: 4px solid #fff;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 26px;
    text-transform: uppercase;
}
#review .dark .wrap .content{
    display: flex;
    flex-direction: column;
}

#review .dark .wrap .content .top{
    height: auto;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

#review .dark .wrap .content .top .img{
    width: 280px;
    height: 200px;
    /* background-image: url(../img/h-img3.jpg); */
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 10px;
}
#review .dark .wrap .content .top .txt_part{
    margin: 0 10px;
    width: 680px;
    height: 200px;
    color: #fff;
}
#review .dark .wrap .content .top .txt_part h2{
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}
#review .dark .wrap .content .top .txt_part span{
    display: block;
    width: 80px;
    height: 1px;
    border: 1px solid #fff;
    margin: 10px 0;
}
#review .dark .wrap .content .top .txt_part .subtitle{
    font-size: 20px;
    line-height: 30px;
}
#review .dark .wrap .content .top .txt_part .subtitle p{
    font-size: 16px;
}

#review .dark .wrap .content .bottom{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

#review .dark .wrap .content .bottom .img{
    width: 280px;
    height: 200px;
    /* background-image: url(../img/h-img4.jpg); */
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 10px;
}
#review .dark .wrap .content .bottom .txt_part{
    margin: 0 10px;
    width: 680px;
    color: #fff;
}
#review .dark .wrap .content .bottom .txt_part h2{
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}
#review .dark .wrap .content .bottom .txt_part span{
    display: block;
    width: 80px;
    height: 1px;
    border: 1px solid #fff;
    margin: 10px 0;
}
#review .dark .wrap .content .bottom .txt_part .subtitle{
    font-size: 20px;
    line-height: 30px;
}
#review .dark .wrap .content .bottom .txt_part .subtitle p{
    font-size: 16px;
}

/*section#blog*/
#blog {
    width: 100%;
    height: 380px;
    background-image: url(../img/section_deco_left_01.png), url("../img/section_deco_right_01.png");
    background-repeat: no-repeat;
    background-position: 0% 50%, 100% 100%;
    background-attachment: fixed;
    background-size: auto 245px;
    margin: 40px 0;
}
#blog .wrap {
    width: 1200px;
    height: 100%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
#blog .wrap .left {
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#blog .wrap .left .top{
    height: calc(100% / 2);
}

#blog .wrap .left .top h2 {
    font-size: 32px;
    color: #777777;
    padding-left: 12px;
    line-height: 0.8;
    border-left: 4px solid #777777;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 26px;
    text-transform: uppercase;
}
#blog .wrap .left .bottom{}
#blog .wrap .left .bottom p{
    font-size: 16px;
    color: #777777;
}
#blog .wrap .right{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#blog .wrap .right .box{
    width: 280px;
    height: 100%;
    margin: 0 10px;
    padding: 20px;
    background-size: cover;
    background-position: 50%, 50%;
}

#blog .wrap .right .box .inbox{
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.9);
}
#blog .wrap .right .box .inbox .txt_part{
    text-align: center;
    padding-top: 80px;
}
#blog .wrap .right .box .inbox .txt_part h1{
    color: #ce967a;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}
#blog .wrap .right .box .inbox .txt_part .date{
    font-size: 12px;
    color: #777777;
    line-height: 10px;
    padding-top: 10px;
}
#blog .wrap .right .box .inbox .txt_part span{
    display: block;
    width: 80px;
    height: 1px;
    border: 1px solid #ce967a;
    margin: 20px auto;
}
#blog .wrap .right .box .inbox .txt_part p{
    font-size: 14px;
    color: #777777;    
}


/* contact */
#contact{
    width: 100%;
    height: 560px;
    background-image: url(../img/h-img18.jpg);
}

#contact .wrap{
    width: 720px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
}

#contact .wrap h1{
    font-size: 60px;
    color: #777777;
    line-height: 80px;
    padding-bottom: 20px;

}
#contact .wrap p{
    font-size: 16px;
    color: #777777;
    line-height: 20px;
}
#contact .wrap .contacts{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
#contact .wrap .contacts input{
    width: 580px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #777777;
}
#contact .wrap .contacts button{
    width: 180px;
    height: 65px;
    font-size: 20px;
    color: #ffffff;
    margin: 0 auto;
    border: none;
    background-color: #ce967a;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s;
} 
#contact .wrap .contacts button:hover{
    background-color: #aa937a;
}


/*partners#partners*/
#partners {
    width: 100%;
    height: 300px;
}
#partners .wrap {
    width: 1200px;
    height: 100%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#partners .wrap .left {
    width: calc(100% / 6 - 20px);
    height: 100%;
    margin: 0 10px;
    position: relative;
    padding: 40px 0;
}

#partners .wrap .left h2 {
    font-size: 32px;
    color: #777777;
    padding-left: 12px;
    line-height: 0.8;
    border-left: 4px solid #777777;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 26px;
    text-transform: uppercase;
}
#partners .wrap .list{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}
#partners .wrap .list div{
    width: calc(100% / 5 - 20px);
    height: 60px;
    background-size: cover;
    background-position: 50% 50%;
    /* background-color: #ffa; */
    background-repeat: no-repeat;
}
#partners .wrap .list div:nth-child(1){
    background-image: url(../img/client-1-haver.png);
}
#partners .wrap .list div:nth-child(2){
    background-image: url(../img/client-4-haver.png);
}
#partners .wrap .list div:nth-child(3){
    background-image: url(../img/client-5-haver.png);
}
#partners .wrap .list div:nth-child(4){
    background-image: url(../img/client-7-haver.png);
}
#partners .wrap .list div:nth-child(5){
    background-image: url(../img/client-8-haver.png);
}

/* footer */
footer{
    width: 100%;
    background-color: #000;
    padding: 20px 0;
}
footer .txt{
    color: #ffffff;
    display: flex;
    justify-content: center;    
}
footer .txt img{
    width: 30px;
}

footer .txt p{
    font-size: 14px;
    /* line-height: 60px; */
}